@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: Roboto, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

.nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 3rem 0 0 0;
    max-width: none !important;
}

.nav input, .nav select {
    max-width: 10rem;
    margin: 2rem auto;
}
.nav input {
    margin-bottom: 1rem;
}
.nav select {
    margin-top: 1rem;
}
.front-page {
    display: flex;
    align-items: center;
}
.front-page div {
    margin: auto;
    font-size: 20vh;
}
.container {
    max-width: 50rem;
    margin: auto;
}
.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-header {
    display: flex;
    justify-content: space-between;
    font-size: 6vh;
    text-transform: uppercase;
}
.cell {
    margin: auto 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.name {
    font-size: 7vh;
}
.number {
    font-size: 10vh;
}
.notes {
    font-size: 7vh;
    padding: 5vh 0;
    text-transform: uppercase;
}
.comments {
    margin: auto;
}
.day {
    width: 20vh;
}
hr {
    width: 100%;
    border: 2px solid black;
    margin: 0;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

@media print {
    .pagebreak { page-break-before: always; }
    .page { page-break-inside: avoid; }

    .no-print, .no-print *
    {
        display: none !important;
    }
}
